@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

:root {
  --theme-color-black: #000000;
  --theme-color-white: #ffffff;
  --theme-color-red: #ff0000;
  --theme-color-body-bg: #0d0d0d;
  --theme-color-text: #ffffff;
  --theme-color-primary: #32ffe8;
  --theme-color-img-bg: #333333;
  --theme-color-topmenu-text: #b4b7bb;
  --theme-color-sidemenu-text: #b4b7bb;
  --theme-color-sidemenu-hover-text: #2c2d31;
  --theme-color-sidemenu-focused-text: #b4b7bb;
  --theme-color-sidemenu-focused-bg: #2c2d31;
  --theme-color-input-bg: #2c2d31;
  --theme-color-input-text: #b4b7bb;
  --theme-color-transparent: rgba(0, 0, 0, 0);
  --theme-color-duration-bg: rgba(0, 0, 0, 0.7);
  --theme-color-image-shadow: rgba(var(--primary-color-rgb), 0.75);
  --theme-prompt-dialog-bg-color: #0a0a0a;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  display: none;
}
*:focus {
  outline: none;
}

body {
  background-color: var(--theme-color-body-bg);
  color: var(--theme-color-text);
  font-family: 'Roboto', sans-serif !important;
  padding: 0px !important;
  margin: 0px !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
div,
button,
li {
  font-family: 'Roboto', sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
button,
li {
  color: var(--theme-color-text);
}
a,
a:hover {
  opacity: 1 !important;
}
a.link {
  cursor: pointer;
}

.hide {
  display: none !important;
}

.empty-container {
  width: 1920px !important;
  height: 1080px !important;
  overflow: hidden !important;
}
.splashscreen {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader .loader-text {
  width: 195px;
  font-size: 40px;
  line-height: 48px;
  color: var(--theme-color-primary);
  font-weight: 600;
}
.loader .loader-text .dots {
  width: 10px;
  height: 10px;
  font-size: 10px;
  line-height: 10px;
  background-color: var(--theme-color-primary);
  border-radius: 50%;
  margin-right: 5px;
}
.loader .loader-text .dots.dot-dot1 {
  margin-left: 5px;
}
.gridLoader {
  margin-left: 1200px;
}
.live-video-container {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.bg-player-overlay-opacity {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.58);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

.app-container {
  position: fixed;
  width: 1920px !important;
  height: 1080px !important;
  overflow: hidden;
}
/* ----- Loader ----- */
.loader-container {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  z-index: 4500;
}
.loader-container .loader {
  width: 100px;
  height: 100px;
  margin: 0px auto;
  border: 12px solid var(--theme-color-primary);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  animation: rotation-loader 1s linear infinite;
}
@keyframes rotation-loader {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

.top-navigation {
  position: fixed;
  left: 60px;
  right: 60px;
  top: 38px;
  height: 100px;
  background-color: none !important;
  z-index: 8888;
}
.top-navigation .nav-left,
.top-navigation .nav-right {
  flex: auto;
}
.top-navigation .brand-logo img {
  /* max-width: none; */
  /* max-height: none; */
  margin-right: 30px;
}
.top-navigation .tabs .menu-item {
  font-size: 27px;
  line-height: 48px;
  font-weight: 600;
  border-bottom: 6px solid var(--theme-color-transparent);
  color: var(--theme-color-topmenu-text);
}
.top-navigation .tabs .menu-item.active {
  color: var(--theme-color-primary);
}

.top-navigation .tabs .menu-item.focused,
.top-navigation .tabs .menu-item:hover {
  border-bottom: 6px solid var(--theme-color-primary);
}
.top-navigation .icon {
  border-bottom: 6px solid var(--theme-color-transparent);
}
.top-navigation .icon.active img {
  filter: drop-shadow(0px 0px var(--theme-color-primary));
}
.top-navigation .icon.focused,
.top-navigation .icon:hover {
  border-bottom: 6px solid var(--theme-color-primary);
}
.top-navigation .icon img {
  margin-left: 15px;
  margin-right: 15px;
}

.page-container {
  display: flex;
  height: 980px;
  width: 1965px;
  overflow: scroll;
  z-index: 9999;
  top: 28px;
  position: fixed;
  margin-top: 790px;
  left: -46px;
}
.page-container.has-show-bg-video {
  transition: margin-top 0.5s ease-in-out;
  /* top: 144px !important; */
  /* margin-top: 0 !important; */
}
.page-container.main-no-video-show {
  margin-top: 115px !important;
}
.page-container .side-menu {
  width: 380px;
  top: 237px;
  padding-left: 145px;
  z-index: 9;
  justify-content: flex-start;
}
.page-container .side-menu.settings-view {
  padding-left: 70px;
  transform: translateY(-50%);
  top: 50%;
}
.page-container .page-content {
  width: 100%;
  justify-content: flex-end;
}
.page-container .side-menu,
.page-container .page-content {
  flex: auto;
}
.page-container .side-menu .side-nav a {
  width: 380px;
  height: 85px;
  align-items: center;
  display: flex;
  color: var(--theme-color-sidemenu-text) !important;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 5px;
  font-weight: 600;
  padding-left: 24px;
  padding-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.page-container .side-menu .side-nav a.active,
.page-container .side-menu .side-nav a.focused {
  background-color: var(--theme-color-sidemenu-focused-bg);
  color: var(--theme-color-sidemenu-focused-text) !important;
}
.page-container .side-menu.settings-view .side-nav a {
  background-color: transparent;
  width: 420px;
}
.page-container .side-menu .side-nav a:hover {
  background-color: var(--theme-color-primary);
  color: var(--theme-color-sidemenu-hover-text) !important;
}
.page-container .side-menu .side-nav a span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.page-container .page-content.has-bg-video {
  height: 1476px;
}

.settings-container {
  display: flex;
  margin-top: 150px;
  padding-left: 80px;
  padding-right: 80px;
}
.settings-qrcode {
  justify-content: flex-start;
  height: 350px;
  width: 350px;
}
.settings-section {
  justify-content: flex-end;
  margin-left: 50px;
}
.settings-section .title {
  width: 550px;
  font-size: 28px;
  line-height: 44px;
  margin-top: 80px;
  margin-bottom: 30px;
}
.settings-section .link {
  font-size: 36px;
  line-height: 48px;
  color: var(--theme-color-primary);
}
.settings-legal-container {
  display: flex;
  margin-left: 80px;
  width: 1100px;
}
.settings-text {
  color: var(--theme-color-white);
  font-size: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 80px;
}
.settings-description {
  color: var(--theme-color-sidemenu-focused-text) !important;
  margin-bottom: 15px;
}
.settings-url {
  color: var(--theme-color-primary);
}
.horizontal-list {
  /* position: relative; */
  width: 100%;
  /* width: 1920px; */
  margin-bottom: 50px;
  padding-left: 116px;
}
.horizontal-list .grid-title {
  /* position: absolute; */
  font-size: 30px;
  /* line-height: 42px; */
  /* top: 12px; */
  font-weight: 600;
  /* margin-left: 115px; */
  padding-left: 10px;
  /* font-size: 32px; */
  line-height: 44px;
  margin-bottom: 20px;
}
.for-scroll-width {
  /* width: 1965px; */
}
.horizontal-list .media-scroller {
  /* display: flex;
  overflow-x: auto;
  width: 1920px;
  padding-right: 96px;
  position: relative;
  left: 2px; */
}
.media-element.prj-element {
  /* padding-right: 68px !important; */
}
.horizontal-list .media-element {
  /* position: relative; */
  /* padding: 40px 115px; */
  /* margin-right: 43px; */
  margin: 0px 25px 0px 0px;
  border-radius: 31px;
}
.horizontal-list .media-element.portrait {
  /* position: relative; */
  /* margin-top: 20px; */

  width: 292px;
  height: 438px;
}
.horizontal-list .media-element .img {
  position: relative;
  width: 100%;
  height: 320px;
  border-radius: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  overflow: hidden;
}
.horizontal-list .media-element.portrait .img {
  width: 292px;
  height: 438px;
  position: relative;
  border-radius: 31px;
  margin: 4px;
  border: 4px solid var(--theme-bg-color);
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.horizontal-list .media-element .img .img-container {
  width: 100%;
  height: 100%;
  background-color: var(--theme-color-img-bg);
  position: relative;
}
.horizontal-list .media-element.portrait .img .img-container {
  width: 292px;
  height: 438px;
}
.horizontal-list .media-element .img .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.horizontal-list .media-element.portrait .img .img-container img {
  inline-size: 100%;
  aspect-ratio: 2/3;
  object-fit: cover;
}
.horizontal-list .media-element.active .img,
.horizontal-list .media-element.focused .img
/* .horizontal-list .media-element:hover .img */ {
  box-shadow: 0px 0px 10px 10px var(--theme-color-image-shadow);
}
.horizontal-list .media-element .title {
  font-size: 30px;
  line-height: 34px;
  height: 68px;
  font-weight: 600;
  margin: 16px 5px 0 5px;
  padding: 0px !important;
  width: 560px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.media-element.landscape.prj-element .img {
  width: 560px;
  height: 315px;
}
/* .media-element.landscape.prj-element .img .img-container {
  width: 560px;
  height: 315px;
} */
.horizontal-list .media-element .sub-title {
  font-size: 19px;
  width: 532px;
  line-height: 28px;
  padding: 0px !important;
  margin: 0 5px 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.grid-list {
  width: 100%;
  margin-left: 377px;
}
.grid-list .media-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 50px;
  margin-left: 220px;
  margin-top: 66px;
  position: absolute;
}
.side-menu {
  position: fixed !important;
}
.grid-list .media-element {
  position: relative;
  width: 570px;
  margin-right: 60px;
  margin-bottom: 60px;
}
.grid-list .media-element .img {
  position: relative;
  width: 100%;
  height: 320px;
  border-radius: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  border: 5px solid var(--theme-color-transparent);
  overflow: hidden;
}
.grid-list .media-element .img .img-container {
  width: 100%;
  height: 100%;
  background-color: var(--theme-color-img-bg);
}
.grid-list .media-element .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid-list .media-element.active .img,
.grid-list .media-element.focused .img,
.grid-list .media-element:hover .img {
  border: 5px solid var(--theme-color-primary);
  box-shadow: 0px 0px 10px 10px var(--theme-color-image-shadow);
}
.grid-list .media-element .title {
  font-size: 30px;
  line-height: 34px;
  font-weight: 600;
  padding: 0px !important;
  margin: 0px !important;
}
.grid-list .media-element .sub-title {
  font-size: 24px;
  line-height: 28px;
  padding: 0px !important;
  margin: 0px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.media-element .img .video-duration {
  position: absolute;
  bottom: 15px;
  right: 30px;
  text-align: right;
  font-size: 30px;
  background-color: var(--theme-color-duration-bg);
  color: var(--theme-color-white);
  padding: 3px 6px;
  border-radius: 5px;
}
.media-element .img .progress-wrapper {
  position: absolute;
  bottom: 5px;
  left: 3%;
  width: 94%;
}
.media-element .img .progress-wrapper .progress-bar {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0px;
  margin: 0px auto;
}
.media-element .img .progress-wrapper .progress-bar-fill {
  display: block;
  height: 5px;
  background-color: var(--theme-color-primary);
}

.fullscreen-container-fixed {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  background-color: var(--theme-color-body-bg);
  z-index: 88888;
}
.fullscreen-container-fixed .bg-poster {
  position: fixed;
  top: 22px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3px);
  object-fit: cover;
  -webkit-filter: blur(3px);
}
.fullscreen-container-fixed .bg-poster-layer {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.fullscreen-container-fixed .back-to-page {
  position: relative;
  top: 30px;
  left: 100px;
  color: var(--theme-color-white);
  cursor: pointer;
  display: none;
}
.details-portrait-image {
  border-radius: 20px;
}
.fullscreen-container-fixed .video-details {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: -70px;
  height: 711px;
  scroll-behavior: smooth;
}
.grid-detail-page .fullscreen-container-fixed .video-details {
  margin-top: 0;
}
.fullscreen-container-fixed .video-details .details {
  width: 65%;
  padding-top: 109px;
  padding-left: 100px;
}
.fullscreen-container-fixed .video-details .details .title {
  font-size: 61px;
  line-height: 78px;
  font-weight: 500;
  margin-top: 10px;
}
.fullscreen-container-fixed .video-details .details .description {
  font-size: 25px;
  line-height: 34px;
  margin-top: 10px;
  overflow: hidden !important;
  height: 174px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  white-space: pre-wrap;
}
.fullscreen-container-fixed .video-details .details .buttons {
  display: flex;
  justify-content: space-between;
  height: 100px;
  /* width: 850px; */
  width: max-content;
  margin-top: 5px;
}
.fullscreen-container-fixed .video-details .details .buttons .play-btn {
  background-color: var(--theme-color-button);
  color: var(--theme-color-body-bg);
  margin-top: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  font-size: 30px;
  width: 400px;
  height: 96px;
  border-radius: 16px;
}
/* .fullscreen-container-fixed .video-details .details .buttons .play-btn:hover {
  background-color: var(--theme-color-primary);
  color: var(--theme-color-body-bg);
} */
.fullscreen-container-fixed .video-details .details .buttons .play-btn img {
  margin-right: 15px;
  width: 45px;
  height: 45px;
}
.fullscreen-container-fixed .video-details .image {
  width: 35%;
  padding-right: 100px;
  text-align: right;
}
.fullscreen-container-fixed .video-details .image-wrap {
  width: 485px;
  height: 296px;
  background-color: var(--theme-color-img-bg);
  border-radius: 20px;
  float: right;
  overflow: hidden;
  margin-top: 84px;
}
.fullscreen-container-fixed .video-details .image-wrap.portrait {
  width: 400px;
  height: 600px;
  margin-top: 0px;
}
.fullscreen-container-fixed .video-details .image .image-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fullscreen-container-fixed .more-like-this {
  position: relative;
  width: 100%;
  top: 88px;
}
.fullscreen-container-fixed .more-like-this .title {
  font-size: 30px;
  line-height: 38px;
  font-weight: 700;
  /* margin-left: 95px; */
}
.fullscreen-container-fixed .more-like-this .list {
  display: flex;
  /* overflow-x: auto; */
  margin-left: -30px;
  height: 543px;
  padding: 0 128px;
}
.fullscreen-container-fixed .more-like-this .list .video {
  position: relative;
  min-width: 526px;
  max-width: 526px;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 35px;
}
.fullscreen-container-fixed .more-like-this .list .video.portrait {
  min-width: 300px;
  height: 450px;
  margin-right: 20px;
}
.fullscreen-container-fixed .more-like-this .list .video:hover {
  border: 5px solid var(--theme-color-primary);
}
.fullscreen-container-fixed .more-like-this .list .video img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.video-container {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 9999;
}
.video-container #video-player,
.video-container #video-player .video-js {
  width: 100%;
  height: 100%;
}
.video-container .close-video-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 99999;
  background-color: var(--theme-color-white);
  padding: 5px 10px;
  display: none;
}
.video-container .close-video-container:hover {
  background-color: var(--theme-color-white);
  opacity: 1;
}
.video-container .close-video-container img {
  width: 18px;
}

.search-bar {
  width: 80%;
  height: 60px;
  margin: 14px auto;
}
.search-bar input {
  height: 60px;
  line-height: 60px;
  font-size: 30px !important;
  color: var(--theme-color-input-text);
  background-color: var(--theme-color-input-bg);
  border: 0px !important;
}
.search-bar .prj-element.input-class.focused {
  box-shadow: 0 0 13px var(--theme-color-image-shadow);
}
.search-bar .prj-element.input-class.focused:focus {
  box-shadow: 0 0 13px var(--theme-color-image-shadow) !important;
}
.search-results {
  padding: 20px 0px 50px 0px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.search-results .searching {
  width: 100%;
  text-align: center;
  color: var(--theme-color-text);
  font-size: 28px;
  margin-top: 250px;
}
.search-results .loading {
  margin-top: 250px;
}
.video-player-screen {
  height: 1080px !important;
  width: 1920px !important;
}

.player-overlay {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  background: rgba(6, 4, 4, 0.6);
  z-index: 9999;
}

.player-bottom-bar {
  /* background-color: var(--theme-color-duration-bg); */
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 15px;
  width: 100%;
}

.player-text {
  position: absolute;
  top: 15px;
  width: 100%;
  /* left: 150px;
  right: 15px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center; */
  color: rgb(255, 255, 255);
}
/* .player-text .back {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 100px;
  height: 100px;
  border: 0px;
  border-radius: 50%;
  padding: 20px;
} */

.player-watching-text {
  font-size: 30px;
  margin-bottom: 5px;
}
.video-container .player-overlay .player-text .back .back-img {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 15px;
  left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-container .player-overlay .player-text .back .back-img.focused {
  background-color: var(--theme-color-primary);
}
.video-container .player-overlay .player-text .back .back-img .img {
  display: block;
  width: 60px;
  height: 60px;
}
.video-container .player-overlay .player-text .back .back-img .img-active {
  display: none;
  width: 60px;
  height: 60px;
}
.video-container .player-overlay .player-text .back .back-img.focused .img {
  display: none;
}
.video-container
  .player-overlay
  .player-text
  .back
  .back-img.focused
  .img-active {
  display: block;
}
.rewind,
.playpause,
.fastforward {
  display: flex;
  align-items: center;
}

.player-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
  position: absolute;
  left: 150px;
  top: 30px;
  width: 100%;
}

.player-progress-track {
  display: flex;
  width: 1890px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.24);
  border-radius: 25px;
  margin-bottom: 10px;
}

.player-timer {
  display: flex;
  color: var(--theme-color-white);
  font-size: 30px;
  margin-top: 30px;
  align-self: baseline;
  align-items: center;
}

.player-time {
  display: flex;
  color: var(--theme-color-white);
  font-size: 30px;
  margin: 0px 10px;
  /* width: 90px; */
}

.player-progress-bar {
  height: inherit;
  position: relative;
  background-color: var(--theme-color-primary);
  border-radius: 25px;
}
.player-progress-track.focused .player-progress-bar::after {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  background: var(--theme-color-primary);
  border: 5px solid var(--theme-color-white);
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -13px;
  box-sizing: content-box;
}

.player-button-group {
  display: flex;
  flex-direction: row;
  align-self: center;
  position: absolute;
  width: 1890px;
  justify-content: center;
}

.media-btn {
  background-color: transparent;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.media-btn.focused {
  background-color: var(--theme-color-primary);
  border-radius: 50%;
  padding: 10px 10px;
}
.rewind.media-btn,
.playpause,
.fastforward {
  display: flex;
  align-items: center;
}
.play-pause-btn {
  width: 64px;
  height: 64px;
}

.media-btn-img {
  height: 40px;
  /* width: 40px; */
  margin: 10px 20px;
}
.media-btn-img-active {
  height: 50px;
  /* width: 50px; */
  margin: 10px 20px;
}
.vjs-progress-control.vjs-control {
  display: none;
}
.vjs-control-bar {
  display: none !important;
}
button#resume-btn.play-btn.prj-element.focused {
  background-color: var(--theme-color-primary);
}
button#play-btn.play-btn.prj-element.focused {
  background-color: var(--theme-color-primary);
}
div.video.prj-element {
  border: 12px solid transparent !important;
}
div.video.prj-element.focused img {
  box-shadow: 0px 0px 10px 10px var(--theme-color-image-shadow);
}

.video-container
  .player-overlay
  .player-bottom-bar
  .player-button-group
  .img-active {
  display: none;
}
.video-container
  .player-overlay
  .player-bottom-bar
  .player-button-group
  .media-btn-img-active {
  display: none;
}
.video-container
  .player-overlay
  .player-bottom-bar
  .player-button-group
  .prj-element.focused
  .img,
.video-container
  .player-overlay
  .player-bottom-bar
  .player-button-group
  .prj-element:hover
  .img {
  display: none;
}
.video-container
  .player-overlay
  .player-bottom-bar
  .player-button-group
  .prj-element.focused
  .media-btn-img,
.video-container
  .player-overlay
  .player-bottom-bar
  .player-button-group
  .prj-element:hover
  .media-btn-img {
  display: none;
}
.video-container
  .player-overlay
  .player-bottom-bar
  .player-button-group
  .prj-element.focused
  .img-active,
.video-container
  .player-overlay
  .player-bottom-bar
  .player-button-group
  .prj-element:hover
  .img-active {
  display: block;
}
.video-container
  .player-overlay
  .player-bottom-bar
  .player-button-group
  .prj-element.focused
  .media-btn-img-active,
.video-container
  .player-overlay
  .player-bottom-bar
  .player-button-group
  .prj-element:hover
  .media-btn-img-active {
  display: block;
}

.play-btn img,
.pause-btn img,
.skip-btn img,
.volume-btn-container img {
  height: 100%;
  width: 100%;
}
.seperator {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 35px;
}

.player-back-btn {
  height: 65px;
  width: 60px;
  padding: 0;
  background: none;
  border: unset;
}

.image-wrap.landscape {
  width: 560px;
  height: 315px;
}
.video.prj-element.landscape {
  width: 560px;
  height: 315px;
}
.image-wrap.landscape {
  width: 560px !important;
  height: 315px !important;
}
.video.prj-element.landscape {
  width: 560px !important;
  height: 315px !important;
  min-width: 560px !important;
}
video.prj-element.landscape img {
  width: 560px !important;
  min-width: 560px !important;
  height: 315px !important;
}
.video-details-main-div {
  overflow: hidden;
  /* height: 100%; */
}
.media-element.landscape.prj-element {
  padding-top: 8px;
  margin: 0px 39px 0px 0px;
  padding-bottom: 0;
  padding-right: 0;
  /* margin-right: -123px; */
}
.list-container {
  display: flex;
}
.movies {
  height: 530px;
}
div.video.prj-element img:hover {
  box-shadow: 0px 0px 10px 10px var(--theme-color-image-shadow);
}
.side-nav .prj-element.focused {
  background-color: var(--theme-color-primary) !important;
  color: var(--theme-color-sidemenu-hover-text) !important;
}
.side-nav .prj-element.focused span {
  color: var(--theme-color-sidemenu-hover-text) !important;
}
.menu {
  top: 50%;
  transform: translateY(-50%);
}
.video-rating {
  font-size: 28px;
  margin-bottom: 20px;
}
.play-btn.small.prj-element.focused {
  /* width: 185px !important; */
}
.play-btn.small.prj-element {
  width: 185px !important;
}
.play-btn.prj-element {
  margin-right: 10px;
}
.trailer-btn.prj-element.focused {
  background-color: var(--theme-color-primary) !important;
}
.trailer-btn.prj-element,
#resume-btn {
  margin-left: 10px;
}
.trailer-btn .play-text {
  padding: 0 18px 0 0;
}
.grid-list .media-element.landscape.prj-element {
  margin-right: 75px !important;
}
.media-scroller.video .overlay-grid {
  position: absolute;
  transition: 0.5s ease;
  width: 563px;
  height: 129px;
  bottom: 0;
  left: -3px;
  background: linear-gradient(to bottom, transparent 0%, black 100%);
  opacity: 1;
}
.page-container.search-page {
  position: inherit !important;
  margin-top: 135px !important;
}
.video.media-element.prj-element {
  padding-top: 19px !important;
}
.video.prj-element.media-element.portrait {
  padding-top: 0px !important;
}
.more-like-this-horizontal-list {
  padding-right: 1px;
}
.more-like-this-list-container {
  position: relative;
  left: -111px;
}
.loader.loader-fix-pos {
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}
.more-like-this .horizontal-list .media-element.portrait {
  margin-top: 12px !important;
}

.closed-caption {
  position: absolute;
  /* margin-left: 575px; */
  right: 0;
}
.caption-container {
  position: absolute;
  background-color: var(--theme-color-input-text);
  right: 15px;
  bottom: 65px;
  width: 200px;
  min-height: 100px;
  border-radius: 5px;
}
.caption-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 24px;
  padding: 15px;
}
.caption-item {
  display: flex;
  justify-content: center;
}
.caption-item-selected {
  background-color: var(--theme-color-black);
}
.caption-item:hover,
.caption-item.focused {
  background-color: var(--theme-color-primary);
}
.show {
  display: block !important;
}

.video-js .vjs-ads-time {
  font-size: 21px;
  color: var(--theme-color-white);
}
.video-js .vjs-ads-info-container {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 5px;
}
.video-js .vjs-ads-timeline-container {
  width: 99%;
  margin-left: 0.45%;
}
.video-js .vjs-ads-pre-skip {
  background-color: var(--theme-color-image-shadow);
}
.video-js .vjs-ads-time::before {
  color: var(--theme-color-white);
}
.pop-up {
  position: fixed;
  display: flex;
  align-items: center;
  top: 397px;
  left: 437px;
  width: 1065px;
  height: 347px;
  background: black;
  font-size: 25px;
  border: 1px solid #707070;
  border-radius: 12px;
  z-index: 9999;
}
.pop-up-logout-exit-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.log-out-btn-container {
  display: flex;
  justify-content: space-between;
  width: 20%;
}
.pop-up-btn-yes.prj-element.focused {
  color: black;
  background-color: white;
}
.pop-up-btn-no.prj-element.focused {
  color: black;
  background-color: white;
}
.log-out-btn-container button {
  font-size: 25px;
}
.home-normal-rows {
  position: relative;
  height: 935px;
  overflow: hidden;
}

.home-normal-rows .vertical-scroll {
  position: relative;
  height: inherit;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
}
.row-list .items-container-h {
  position: relative;
  display: flex;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
}
.videos-details {
  position: relative;
}
.videos-details.top-v {
  top: -374px;
}
.horizontal-list.movies {
  margin-bottom: 35px;
}
.prompt-dialog {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1080px;
  z-index: 10000;
  background-color: var(--theme-color-img-bg);
  background-image: none !important;
}
.prompt-dialog .dialog {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 335px;
}

.prompt-dialog .dialog.pop-up-age-verification-content {
  margin-top: 24px;
  width: 67%;
}
.pop-up-age-verification-content h4 {
  font-size: 38px;
  font-weight: 600;
  /* color: #000; */
}
.pop-up-age-verification-content .info {
  font-size: 25px;
  margin-top: 35px;
  margin-bottom: 7px;
  font-weight: lighter;
}
.pop-up-age-verification-content p {
  font-size: 25px;
  margin-bottom: 35px;
  font-weight: lighter;
}
.prompt-dialog .dialog .dialog-body {
  width: 70%;
  padding: 30px;
  color: var(--theme-color-text);
  z-index: 99999999;
}
.prompt-dialog .dialog .dialog-body .logo {
  width: 185px;
  height: 107px;
  margin: 0px auto 40px auto;
}
.prompt-dialog .dialog.pop-up-age-verification-content .dialog-body .logo {
  width: inherit;
  position: relative;
  display: flex;
  justify-content: center;
}
.prompt-dialog .dialog .dialog-body .logo img {
  max-height: 100px;
}
.prompt-dialog .dialog .title {
  width: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 44px;
  font-weight: 600;
}
.prompt-dialog .dialog .desciption {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 32px;
  font-weight: 600;
}
.prompt-dialog .dialog .actions {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 23px;
}
.prompt-dialog .dialog.pop-up-age-verification-content .actions {
  gap: 0px;
}
.prompt-dialog .dialog .actions .btn {
  font-size: 28px;
  line-height: 32px;
  padding: 14px 195px;
  border-radius: 10px;
  font-weight: 700;
  margin-bottom: 21px;
}
.prompt-dialog .dialog .actions .btn.focused {
  background-color: var(--theme-color-primary);
  color: var(--theme-color-black);
}
.confirm-prompt .prompt-dialog {
  background-color: transparent;
  height: 100%;
  width: 100%;
}

.confirm-prompt .prompt-dialog .dialog {
  height: 40%;
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.confirm-prompt .prompt-dialog .dialog .dialog-body {
  padding: 50px;
  color: var(--theme-color-text);
  background-color: var(--theme-color-img-bg);
  z-index: 99999999;
}
.no-data-message-container {
  position: absolute;
  top: -115px;
  left: 45px;
  height: 1080px;
  width: 1920px;
  background-color: var(--theme-color-body-bg);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.grid-list.has-child-play-list {
  margin-left: 490px;
}
.grid-page-content {
  height: 1080px;
}
.no-data-available {
  width: 1143px;
  height: 768px;
  font-size: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.horizontal-no-data {
  width: 1987px;
  height: 759px;
  font-size: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefit-text p {
  color: var(--theme-color-black);
  padding-left: 57px;
  padding-right: 57px;
  padding-top: 34px;
  font-size: 21px;
}
.opt-out {
  font-size: 21px;
  padding-left: 57px;
  color: var(--theme-color-black);
  font-weight: 600;
}
.img-div {
  margin: auto;
  display: flex;
  width: 70%;
}
.consentImg {
  width: 55%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-div div {
  width: 100%;
}
.arrowImg {
  width: 66%;
  margin-top: 25px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-div p {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--theme-color-black);
  font-size: 19px;
  width: 162px;
  text-align: center;
}
.line {
  margin-top: 10px;
  margin-left: 52px;
  margin-right: 55px;
}
.btn-div {
  position: absolute;
  top: 46%;
  left: 23%;
  right: 23%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.disagree_btn {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 50px 10px 50px;
  background-color: white;
  font-size: 24px;
  border-radius: 30px;
}
.agree_btn {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 50px 10px 50px;
  background-color: white;
  margin-left: 29px;
  font-size: 24px;
  border-radius: 30px;
}

.agree_btn img {
  margin-left: 10px;
}
.scanner {
  width: 100%;
  display: flex;
}
.scanner img {
  margin-left: 232px;
  background-color: rgb(0, 0, 0);
  /* width: 14%; */
  /* height: 14%; */
  /* margin-bottom: 21px; */
}
.text-scan-qr-code {
  margin-left: 204px;
  color: rgb(0, 0, 0);
  white-space: nowrap;
}
.scanner p {
  margin-top: 58px;
  color: var(--theme-color-black);
  margin-left: 43px;
  font-size: 19px;
}
.disagree_btn.focused {
  background-color: var(--theme-color-primary);
}
.agree_btn.focused {
  background-color: var(--theme-color-primary);
}
.popbackground {
  position: fixed;
  z-index: 1000000;
}
.qr-code-image {
  width: 300px;
  height: 300px;
}
.settings-qrcode-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 580px;
  position: absolute;
  height: 1080px;
  top: 0;
}
.settings-page {
  position: static;
}

.toggle-container {
  display: flex;
  align-items: center;
  font-size: 25px;
  margin-bottom: 29px;
}
.toggle-content {
  margin-left: 25px;
  font-size: 35px;
}
.toggle-qr-text {
  font-size: 40px;
  margin-left: 55px;
}
.qr-content {
  color: var(--theme-color-primary);
}
.settings-text-scan-qr-code {
  color: var(--theme-color-white);
  font-size: 21px;
}

.no-content-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding: 40px;
}

.no-content-message h3 {
  font-size: 32px;
  line-height: 40px;
  color: var(--theme-color-primary);
  margin-bottom: 20px;
  font-weight: 600;
}

.no-content-message p {
  font-size: 18px;
  line-height: 24px;
  color: var(--theme-color-text);
  opacity: 0.8;
}
/* toggle css start */
.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 50px;
  border: 2px solid transparent;
}
.switch:has(.focused) {
  border: 2px solid #32ffe8ed;
  border-radius: 99px;
}
.switch .prj-element.focused {
  border: 2px solid #32ffe8ed;
  border-radius: 99px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: '';
  height: 42px;
  width: 42px;
  left: 4px;
  bottom: 2px;
  background-color: rgba(18, 139, 125, 0.4);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.prj-element.focused ~ .slider:before {
  background-color: rgba(50, 255, 232, 0.75);
}
input:checked + .slider:before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
}
.slider.round {
  border-radius: 50px;
}
.slider.round:before {
  border-radius: 50%;
}
.switch-text {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  color: white;
  z-index: 1;
}
.inactive-text {
  color: black;
  left: 22px;
  position: absolute;
}
.active-text {
  color: black;
  right: 15px;
  position: absolute;
  display: none;
}
input:checked + .slider .active-text {
  display: block;
}

input:checked + .slider .inactive-text {
  display: none;
}

input:focus + .slider {
  box-shadow: 0 0 1px #32ffe8ed;
}
.lock-container {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 9;
}
.lock-image {
  width: 60px;
  /* position: relative; */
  /* left: 15px; */
}
.lock-popup-container {
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgb(0 208 255 / 0%);
  width: 100%;
  z-index: 99;
}
.lock-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.lock-sub-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(87 86 86 / 96%);
  border-radius: 20px;
}
.lock-image-cont {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.lock-title {
  font-size: 29px;
  font-weight: bold;
}
.lock-title,
.lock-text {
  margin: 29px 0 0 0;
  width: 826px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.lock-sub-title {
  margin: 20px 23px;
  width: 826px;
  font-size: 19px;
  text-align: center;
  height: 66px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
#lock-btn-yes,
#lock-btn-no {
  font-size: 40px;
  margin-right: 40px;
}
.lock-text {
  font-size: 23px;
  font-weight: bold;
}
.lock-btn-cont {
  margin: 29px 0 40px 0;
}
#lock-btn-yes.prj-element.focused,
#lock-btn-no.prj-element.focused {
  background-color: var(--theme-color-primary);
}
.lock-prompt-dialog {
  background-color: transparent !important;
}
.fullscreen-series-container-fixed {
  position: fixed;
  width: 1920px;
  height: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  background-color: var(--theme-color-body-bg);
  z-index: 88888;
}
.season-main-container {
  display: flex;
  flex-direction: column;
}
.season-rowlist {
  display: flex;
}
.season-rowlist .title {
  margin-bottom: 30px;
}
.series-scroller {
  height: 1050px;
  overflow: hidden;
}
.fullscreen-series-container-fixed .horizontal-list {
  padding-left: 0;
  margin-left: 62px;
  margin-top: 20px;
}
.series-title {
  font-size: 35px;
  font-weight: 400;
  padding-left: 62px;
  padding-top: 20px;
}
.series-detail-page {
  position: fixed;
  top: 0;
  z-index: 99999;
  height: 100%;
  width: 1920px;
  background-color: #000000;
}
.series-loading {
  position: fixed;
  height: 100%;
  z-index: 9999;
  width: 1920px;
  background: black;
}
.series-section-rowlist {
  margin-left: 10px;
}
.series-play-icon {
  display: none;
  width: 100px !important;
  height: 100px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.focused .series-play-icon {
  display: block;
}

.sub-title {
  font-size: 19px;
  width: 532px;
  line-height: 28px;
  padding: 0px !important;
  margin: 0 5px 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fullscreen-series-container-fixed .video-duration {
  position: absolute;
  bottom: 126px;
  right: 30px;
  text-align: right;
  font-size: 30px;
  /* background-color: var(--theme-color-duration-bg); */
  color: var(--theme-color-white);
  padding: 3px 6px;
  border-radius: 5px;
}
.fullscreen-series-container-fixed .media-element.prj-element {
  position: relative;
}
.nav-right-container {
  display: flex;
}
/* .row-list .img-container canvas {
  border-radius: 31px;
} */
/* toggle css end */
@media (max-width: 1280px) {
  .app-container {
    transform: scale(0.66666) translate(-25%, -25%) !important;
  }
}
@media (min-width: 1921px) {
  .app-container {
    transform: scale(2) translate(25%, 25%) !important;
  }
}
@media (min-width: 3841px) {
  .app-container {
    transform: scale(4) translate(37.5%, 37.5%) !important;
  }
}
.no-internet-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1080px;
  font-size: 50px;
}
.internet-loader {
  position: absolute;
  width: 5.104vw;
  height: 9.074vh;
  top: 37.685vh;
  left: 46.875vw;
  border-right: 0.278vh solid transparent;
  border-top: 0.278vh solid var(--theme-color-white);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
  margin-bottom: 20px;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-player {
  width: 48px;
  height: 48px;
  border: 5px solid var(--theme-color-white);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* .loader-player {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--theme-color-primary);
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
} */
.loader-wrapper-player {
  height: 1080px;
  width: 1920px;
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: black;
}
.loader-sub-wrapper-player {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
#player {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  height: 1080px;
  width: 1920px;
  background-color: black;
}
.player-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
}
.vjs-text-track-display {
  bottom: 1em !important;
}
.horizontal-list.search-list {
  padding-left: 20px;
}
/* -------- Search Page -------- */
.search-sub-container {
  /* position: absolute; */
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 220px;
  left: 50px;
  width: 100%;
}
.key-board-container {
  margin-left: 50px;
}
.key-board-container {
  margin-left: 50px;
}
.search-sub-container .search-info {
  display: flex;
  width: inherit;
  /* height: inherit; */
  height: 700px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #c0c0c0;
}
.search-sub-container .search-info.one-character {
  height: 485px;
}
.search-sub-container .search-info.no-data {
  height: 500px;
}
.video-grid-header-container {
  /* width: inherit; */
  width: 1350px;
  height: inherit;
}
.video-grid-container {
  position: relative;
  width: 100%;
  height: 700px;
  padding: 0px 40px;
  overflow: hidden;
}
.video-grid-container.with-search {
  height: 860px;
}
.video-grid-container .searching {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 770px;
  font-size: 24px;
}
/* ------- Custom Keyboard ------- */
.custom-keyboard-container {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 770px;
}
.custom-keyboard-title {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 20px;
}
.custom-keyboard-textbox {
  align-items: center;
  width: inherit;
  height: 75px;
  padding: 13px 15px;
  font-size: 32px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #21212d;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 30px;
  color: #c0c0c0;
  border: 3px solid transparent;
}

.custom-keyboard-textbox.focused {
  border: 3px solid var(--theme-color-primary);
}

.custom-keyboard-key-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  font-weight: 700;
  background-color: #21212d;
}
.custom-keyboard-key-row {
  display: flex;
  flex-direction: row;
}
.custom-keyboard-key-col {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92px;
  height: 85px;
  font-size: 40px;
  font-weight: 600;
}
.custom-keyboard-container.keyboard-pop-up-container .custom-keyboard-key-col {
  width: 130px;
}
.search-page-wrapper .custom-keyboard-key-col {
  outline: 0.05px solid var(--theme-color-primary);
  background-color: rgba(0, 0, 0, 0.3);
}
.custom-keyboard-key-col-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 184px;
  height: 85px;
}
.search-page-wrapper .custom-keyboard-key-col-2 {
  outline: 0.05px solid var(--theme-color-primary);
  background-color: rgba(0, 0, 0, 0.3);
}
.custom-keyboard-key-col.focused,
.custom-keyboard-key-col-2.focused {
  background-color: #ffffff;
  color: #000000;
  transform: scale(1.4);
  border-radius: 5px;
}
.custom-keyboard-key-col-2.focused .custom-keyboard-button-image {
  filter: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(0%)
    hue-rotate(13deg) brightness(95%) contrast(105%);
}
.custom-keyboard-button-image {
  height: 36px;
  width: auto;
}

#display-version {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
  color: var(--theme-color-text);
}


.adBtn {
  background: black !important;
}

.adBtn:hover, .adBtn:focus {
  background: rgb(20, 184, 166) !important;
  border-color: rgb(20, 184, 166) !important;
  color: white !important;
}
.adBtn:focus-visible{
  outline: 2px solid rgb(20, 184, 166);
  outline-offset: 2px;
}